* {
    box-sizing: border-box;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.opacity, .hover-opacity:hover {
    opacity: 0.60
}

.opacity-off, .hover-opacity-off:hover {
    opacity: 1
}

.opacity-max {
    opacity: 0.25
}

.opacity-min {
    opacity: 0.75
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.slideColumn {
    float: left;
    align-content: center;
    width: 25%;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    margin: auto;
    display: table;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #171717;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr {
    background-color: rgba(29, 22, 22, 0.54);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #171717;
}

figcaption {
    background-color: #171717;
    color: white;
    padding: 1px;
    text-align: center;
}

.SlideShowDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.DisplayDiv {
    display: block;
}

.DisplayImage {
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.TableDiv {
    width: 100%;
}

.TableHeader {
    text-align: center;
    color: aliceblue;
    float: right;
}

.TableImage {
    width: 128px;
    height: 72px;
}

h3{
    color:aliceblue;
}

.TableText {
    text-align: left;
    color: aliceblue;
}

.TableSelf {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    float: initial;
    align-self: center
}
